server:
  port: 8088

logging:
  level:
    org.springframework: DEBUG


spring:
  message:
    basename: messages

  devtools:
    livereload:
      enabled: true

  security:
    user:
      name: username
      password: passwOrd

management:
  endpoints:
    web:
      exposure:
        include: "*"

